/* DEBUGG - start rules*/
debug {}
  .debug .container {
    background-color: #16D893;
    border: 1px solid blue;
  }
  .debug [class*="col-"] {
    background-color: yellow;
    border: 1px solid red;
    height: 400px;
  }
/* DEBUGG - end rules */


/* GENERAL RULES - start */
general-rules {}
  body {
    font-family: 'Roboto', sans-serif;
    padding-top: 70px;
  }

  nav {}
    nav ul{
      padding-left: 0;
    }
    nav ul li {
      display: inline-block;
      list-style: none;
    }
    nav ul li a {
      text-decoration: none;
    }

  .clearfix {
    content: "";
    display: table;
    clear: both;
  }

  .transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
/* GENERAL RULES - end */


/* COMPONENTS - start rules */
components {}
  /* Jumbo */
  .ms_jumbo {
    background-image: url(../img/bg-home-1-d54581d7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    padding: 100px 0;
  }
  /* Banner */
  .ms_banner {
    color: black;
  }
  .ms_banner h1 {
    font-size: 60px;
    color: white;
  }
  .ms_banner p {
    font-size: 20px;
    color: #b3c7ff;
  }

  .ms_btn-blue {
    background-color: #579aff;
    color: white;
    width: 100%;
  }
  .ms_btn-white {
    background-color: white;
    color: black;
    width: 100%;
    box-shadow: inset 0 0 3px 3px #888;
  }

  .ms_redirect-link {
    text-decoration: none;
    color: #006aff;
    font-size: 16px;
    font-weight: bold;
  }

  .ms_box {
    padding: 50px 0;
  }
  .ms_box .ms_box-text {
    text-align: center;
    padding-bottom: 50px;
  }

  .ms_blue-banner {
    background-color: #0042c0;
  }
/* COMPONENTS - end rules */


/* HEADER - start rules */
header {}
  header
/* HEADER - end rules */

/* NAVBAR - start rules */
nav {}
  nav.ms_navbar {
    height: 70px;
    line-height: 70px;
    background-color: white;
  }
  .ms_navbar .ms_logo img {
    width: 100%;
  }
  nav.ms_navbar li {
    padding-right: 20px;
  }
  nav.ms_navbar li:last-child {
    padding-right: 0;
  }
  nav.ms_navbar li a {
    color: #061e50;
  }
  nav.ms_navbar .ms_btn {
    display: inline;
    color: #1f7cff;
    border-color: #1f7cff;
    background-color: white;
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
  }
  nav.ms_navbar i.ms_navbar-toggler {
    display: none;
  }

  @media all and (min-width: 768px) and (max-width: 1199px) {
    nav.ms_navbar .ms_navbar-menu-one,
    nav.ms_navbar .ms_navbar-menu-two {
      display: none;
    }
    nav.ms_navbar i.ms_navbar-toggler {
      display: inline-block;
      font-size: 30px;
      color: #3a8aff;
      position: absolute;
      right: 0;
      top: -50px;
    }
  }
/* NAVBAR - end rules */

/* MAIN - start rules */
main {}
  /* Jumbo - Account box */
  .ms_account-box {
    background-color: white;
    border-radius: 5px;
    height: 400px;
    padding: 30px 40px;
  }
  .ms_title-text {
    text-align: center;
  }
  .ms_title-text h2 {
    color: #031c4e;
  }
  .ms_title-text span {
    color: #006aff;
  }
  .ms_btn-white img {
    height: 20px;
  }
  .ms_account-box .ms_terms-text {
    text-align: center;
    padding: 10px 0;
  }
  .ms_account-box .ms_terms-text a {
    text-decoration: underline;
  }

  /* Customers */
  .ms_customers {
    padding: 30px 0;
    background-color: #f3f5f9;
    text-align: center;
  }
  .ms_customers h3 {
    text-transform: uppercase;
    font-size: 20px;
  }
  .ms_customers ul li {
    float: left;
  }
  .ms_customers ul li img {
    width: 80%;
  }
  .ms_logo-list {
    height: 200px;
  }
  .ms_logo-list ul {
    display: table-row;
  }
  .ms_logo-list ul li {
    width: calc(100% / 6);
    list-style: none;
    display: table-cell;
  }
  .ms_logo-list ul li img {
    height: 120px;
  }

  @media all and (max-width: 767px) {
    .ms_logo-list {
      height: 400px;
    }
    .ms_logo-list ul li {
      width: 50%;
      display: block;
    }
  }


  /* Process */
  .ms_box .ms_box-text h2 {
    color: #031c4e;
    font-weight: bold;
    font-size: 35px;
  }
  .ms_box .ms_box-text p {
    color: #5c6a88;
    font-size: 20px;
  }
  .ms_box .ms_process-steps {
    border-left: 1px solid gray;
    color: #828ca2;
  }
  .ms_box .ms_process-steps li {
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #828ca2;
  }
  .ms_box-card {
    padding: 20px 0;
  }
  .ms_box-card h2 {
    color: #031c4e;
    font-weight: bold;
    font-size: 20px;
    padding: 5px 0;
    margin: 0;
  }
  .ms_box-card p {
    color: #5c6a88;
    font-size: 15px;
  }

  /* Panel-dev carousel */
  .ms_dev-panel {
    background-color: #f3f5f9;
  }
  .ms_dev-panel .ms_carousel i {
    font-size: 50px;
    line-height: 400px;
  }
  .ms_dev-panel .ms_carousel i.ms_left  {
    color: #6f7b97;
    position: relative;
    right: -40px;
  }
  .ms_dev-panel .ms_carousel i.ms_right {
    color: #031c4e;
  }
  .ms_dev-panel .ms_carousel img {
    width: 100%;
    height: 400px;
  }
  .ms_dev-panel .ms_slider-bullets i {
    font-size: 12px;
    color: #006aff;
  }
  .ms_dev-panel .ms_slider {
    text-align: center;
    padding-top: 20px;
  }
  .ms_dev-panel .ms_slider p {
    color: #031c4e;
    font-size: 18px;
    font-weight: bold;
  }

  @media all and (min-width: 767px) and (max-width: 991px){
    .ms_dev-panel .ms_carousel i.ms_left,
    .ms_dev-panel .ms_carousel i.ms_right {
      display: none;
    }
  }

  /* Regions */
  .ms_blue-banner .ms_table-regions {
    color: white;
    margin-bottom: 0;
  }
  .ms_blue-banner .ms_reg-text h2 {
    color: white;
  }
  .ms_reg-row {
    border-bottom: 1px solid white;
    height: 40px;
    line-height: 40px;
  }
  .ms_blue-banner span.ms_sigla,
  .ms_blue-banner span.ms_reg {
    color: white;
  }
  .ms_blue-banner .ms_sigla {
    font-weight: bold;
  }
  .ms_blue-banner a {
    color: #00d7d2;
  }
  .ms_blue-banner .ms_speed {
    text-align: right;
  }

  @media all and (min-width: 767px) and (max-width: 991px) {
    .ms_list-regions {
      padding-bottom: 20px;
    }
  }

  /* Customer-reviews */
  .ms_reviews {
    background-color: white;
    height: 400px;
    padding-top: 50px;
  }
  .ms_reviews .ms_rev-logo img {
    width: 300px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .ms_box-card.ms_box-card-reviews {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

  /* Banner-two */
  .ms_blue-banner .ms_bottom-banner {
    width: 500px;
    margin: auto;
  }
  .ms_box-text.ms_reg-text.ms_bottom-banner-text {
    padding-bottom: 20px;
  }
  .ms_btn-banner {
    text-align: center;
    width: 500px;
  }
  .ms_blue-banner .ms_btn-blue.ms_btn-account {
    background-color: white;
    color: #006aff;
    font-weight: bold;
    font-size: 18px;
    width: 200px;
    padding: 10px 10px;
  }
/* MAIN - end rules */

/* FOOTER - start rules */
footer {}
  .ms_box-info {
    background-color: #031c4e;
    height: 450px;
  }
  .ms_info p.ms_copyright {
    color: #8b94a9;
    font-weight: bold;
    padding-top: 10px;
  }
  .ms_info p.ms_ny {
    color: #596886;
    font-weight: bold;
  }
  .ms_info ul.ms_socials a {
    font-size: 25px;
    color: #8b94a9;
  }
  .ms_box-info h4 a {
    color: white;
  }
  .ms_box-info .ms_info-links li {
    margin-bottom: 5px;
  }
  .ms_box-info .ms_info-links a {
    color: #8b94a9;
    font-weight: bold;
  }
/* FOOTER - end rules */
